In [1]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd
import csv
import json
import sys, getopt, pprint
from pymongo import MongoClient

In [2]:
#Median income scrape

# URL of page to be scraped
url = 'http://maps.latimes.com/neighborhoods/income/median/neighborhood/list/'
 # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
get_ipython().system('which chromedriver')
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

which: no chromedriver in (/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/mingw-w64/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Scripts:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/bin:/c/Users/Tom.LAPTOP-UESBC4IO/bin:/mingw64/bin:/usr/local/bin:/usr/bin:/usr/bin:/mingw64/bin:/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/bin:/c/Windows/system32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell/v1.0:/c/Windows/System32/OpenSSH:/c/Program Files/Intel/WiFi/bin:/c/Program Files/Common Files/Intel/WirelessCommon:/cmd:/c/Program Files/MySQL/MySQL Utilities 1.6:/c/Program Files (x86)/Intel/Intel(R) Management Engine Components/DAL:/c/Program Files/Intel/Intel(R) Management Engine Components/DAL:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/mingw-w64/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Scripts:/c/Users/Tom.LAPTOP-UESBC4IO/AppData/Local/Microsoft/WindowsApps:/c/Program Files/heroku/bin:/c/Program Files/MongoDB/Server/4.0/bin:/c/Users/Tom.LAPTOP-UESBC4IO/AppData/Local/Programs/Microsoft VS Code/bin:/usr/bin/vendor_perl:/usr/bin/core_perl)

In [3]:
# Retrieve page with the requests module
browser.visit(url)  
html = browser.html

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(html, 'html.parser')

In [5]:
# Print all ten headlines
tds = soup.find_all('td')
# A blank list to hold the headlines
headlines = []
# Loop over td elements
for td in tds:
   # If td element has an anchor...
   if (td.a):
#        print(td.a)
       # And the anchor has non-blank text...
       if (td.a.text):
           # Append the td to the list
           headlines.append(td)

In [6]:
# Print only the headlines
neighborhoods = []
for x in range(len(headlines)):
#    print(headlines[x].text)
   neighborhoods.append(headlines[x].text)

In [7]:
neighborhoods
names = []
for neighbor in neighborhoods:
    name =neighbor.replace("\n", "")
    names.append(name)

In [8]:
# Print all ten headlines
trs = soup.find_all('tr')
# A blank list to hold the headlines
headlines1 = []
# Loop over td elements
for tr in trs:
   # If td element has an anchor...
   if (tr.td):
       #print(tr.td)
    # And the anchor has non-blank text...
       if (tr.td.text):
           # Append the td to the list
           headlines1.append(tr.td.text)

In [9]:
rows = soup.find(class_="datagrid").find("tbody").find_all("tr")
c = 0
d = 1
median_income = []
rank = []
for row in rows:
    
    med_inc = rows[c].find_all("td")[2].get_text()
#     print(rows[c].find_all("td")[2].get_text())
    med_inc = rows[c].find_all("td")[2].get_text()
    median_income.append(med_inc)
    rank.append(d)
    c += 1
    d += 1

In [10]:
# make the dictionary containing the titles and the image url
La_times = [
    {"Median Rank":rank},
    {"Neighborhood":names},
    {"Median Income":median_income}]

In [11]:
rank_df = pd.DataFrame(rank)    
rank_df.head()
median_income_df = pd.DataFrame(median_income)
median_income_df.head()
name_df = pd.DataFrame(names)

In [12]:
#combine data frames to get data all in one place
LA_Times = pd.DataFrame({'Median Rank' : rank,
 'LA Neighborhood' : names,
 'Median Income':median_income
  }, columns=['Median Rank','LA Neighborhood', 'Median Income'])

In [13]:
#scrape diversity index stats 

url = 'http://maps.latimes.com/neighborhoods/diversity/neighborhood/list/'
 # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
get_ipython().system('which chromedriver')
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

which: no chromedriver in (/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/mingw-w64/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Scripts:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/bin:/c/Users/Tom.LAPTOP-UESBC4IO/bin:/mingw64/bin:/usr/local/bin:/usr/bin:/usr/bin:/mingw64/bin:/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/bin:/c/Windows/system32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell/v1.0:/c/Windows/System32/OpenSSH:/c/Program Files/Intel/WiFi/bin:/c/Program Files/Common Files/Intel/WirelessCommon:/cmd:/c/Program Files/MySQL/MySQL Utilities 1.6:/c/Program Files (x86)/Intel/Intel(R) Management Engine Components/DAL:/c/Program Files/Intel/Intel(R) Management Engine Components/DAL:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/mingw-w64/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Scripts:/c/Users/Tom.LAPTOP-UESBC4IO/AppData/Local/Microsoft/WindowsApps:/c/Program Files/heroku/bin:/c/Program Files/MongoDB/Server/4.0/bin:/c/Users/Tom.LAPTOP-UESBC4IO/AppData/Local/Programs/Microsoft VS Code/bin:/usr/bin/vendor_perl:/usr/bin/core_perl)

In [14]:
# Retrieve page with the requests module
browser.visit(url)  
html = browser.html

In [15]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(html, 'html.parser')

In [16]:
# Print all ten headlines
tds = soup.find_all('td')
# A blank list to hold the headlines
headlines1 = []
# Loop over td elements
for td in tds:
   # If td element has an anchor...
   if (td.a):
#        print(td.a)
       # And the anchor has non-blank text...
       if (td.a.text):
           # Append the td to the list
           headlines1.append(td)

In [17]:
# Print only the headlines
neighborhoods1 = []
for x in range(len(headlines1)):
#    print(headlines[x].text)
   neighborhoods1.append(headlines1[x].text)

In [18]:
neighborhoods1
names1 = []
for neighbor in neighborhoods1:
    name =neighbor.replace("\n", "")
    
    names1.append(name)

In [19]:
# Print all ten headlines
trs1 = soup.find_all('tr')
# A blank list to hold the headlines
headlines1 = []
# Loop over td elements
for tr in trs1:
   # If td element has an anchor...
   if (tr.td):
#       print(tr.td)
    # And the anchor has non-blank text...
       if (tr.td.text):
           # Append the td to the list
           headlines1.append(tr.td.text)

In [20]:
rows1 = soup.find(class_="datagrid").find("tbody").find_all("tr")
c = 0
d = 1
diversity_index = []
rank1 = []
for row in rows:
    diversity_div = rows1[c].find_all("td")[2].get_text()
    diversity_index.append(diversity_div)
    rank1.append(d)
    c += 1
    d += 1

In [21]:
LA_Times_diversity = pd.DataFrame({'Diversity Rank' : rank1,
 'LA Neighborhood' : names1,
 'Diversity Index':diversity_index
  }, columns=['Diversity Rank','LA Neighborhood', 'Diversity Index'])
LA_Times_diversity.head()

   Diversity Rank LA Neighborhood Diversity Index
0               1    Mid-Wilshire           0.755
1               2    Alondra Park           0.748
2               3     West Carson           0.748
3               4         Gardena           0.748
4               5        Downtown           0.743

In [22]:
#scrape population density stats 

url = 'http://maps.latimes.com/neighborhoods/population/density/neighborhood/list/'
 # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
get_ipython().system('which chromedriver')
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

which: no chromedriver in (/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/mingw-w64/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Library/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/Scripts:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/envs/PythonData/bin:/c/Users/Tom.LAPTOP-UESBC4IO/bin:/mingw64/bin:/usr/local/bin:/usr/bin:/usr/bin:/mingw64/bin:/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/bin:/c/Windows/system32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell/v1.0:/c/Windows/System32/OpenSSH:/c/Program Files/Intel/WiFi/bin:/c/Program Files/Common Files/Intel/WirelessCommon:/cmd:/c/Program Files/MySQL/MySQL Utilities 1.6:/c/Program Files (x86)/Intel/Intel(R) Management Engine Components/DAL:/c/Program Files/Intel/Intel(R) Management Engine Components/DAL:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/mingw-w64/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/usr/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Library/bin:/c/Users/Tom.LAPTOP-UESBC4IO/Anaconda3/Scripts:/c/Users/Tom.LAPTOP-UESBC4IO/AppData/Local/Microsoft/WindowsApps:/c/Program Files/heroku/bin:/c/Program Files/MongoDB/Server/4.0/bin:/c/Users/Tom.LAPTOP-UESBC4IO/AppData/Local/Programs/Microsoft VS Code/bin:/usr/bin/vendor_perl:/usr/bin/core_perl)

In [23]:
# Retrieve page with the requests module
browser.visit(url)  
html = browser.html

In [24]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(html, 'html.parser')

In [25]:
# Print all ten headlines
tds2 = soup.find_all('td')
# A blank list to hold the headlines
headlines2 = []
# Loop over td elements
for td in tds2:
   # If td element has an anchor...
   if (td.a):
#         print(td.a)
       # And the anchor has non-blank text...
        if (td.a.text):
           # Append the td to the list
           headlines2.append(td)

In [26]:
# Print only the headlines
neighborhoods2 = []
for x in range(len(headlines2)):
#   print(headlines2[x].text)
   neighborhoods2.append(headlines2[x].text)

In [27]:
neighborhoods2
names2 = []
for neighbor in neighborhoods2:
    name =neighbor.replace("\n", "")
    
    names2.append(name)

In [28]:
# Print all ten headlines
tds2 = soup.find_all('td')
# A blank list to hold the headlines
headlines2 = []
# Loop over td elements
for td in tds2:
   # If td element has an anchor...
   if (td.a):
#         print(td.a)
       # And the anchor has non-blank text...
        if (td.a.text):
           # Append the td to the list
           headlines2.append(td)

In [29]:
rows2 = soup.find(class_="datagrid").find("tbody").find_all("tr")
c = 0
d = 1
population_density = []
rank2 = []
for row in rows:
    popdensity_div = rows2[c].find_all("td")[2].get_text()
    population_density.append(popdensity_div)
    rank2.append(d)
    c += 1
    d += 1

In [30]:
LA_Times_popdensity = pd.DataFrame({'Population Density Rank' : rank2,
 'LA Neighborhood' : names2,
 'Population Per Sq Mile':population_density
  }, columns=['Population Density Rank','LA Neighborhood', 'Population Per Sq Mile'])
LA_Times_popdensity

,Population Density Rank,LA Neighborhood,Population Per Sq Mile
0,1,Koreatown,"42,611"
1,2,Westlake,"38,214"
2,3,East Hollywood,"31,095"
3,4,Pico-Union,"25,352"
4,5,Maywood,"23,638"
5,6,Harvard Heights,"23,473"
6,7,Hollywood,"22,193"
7,8,Walnut Park,"22,028"
8,9,Palms,"21,870"
9,10,Adams-Normandie,"21,848"
10,11,South Park,"21,638"
11,12,Lennox,"21,557"
12,13,Arlington Heights,"21,423"
13,14,Huntington Park,"20,223"
14,15,University Park,"20,217"
15,16,Cudahy,"19,697"
16,17,Historic South-Central,"19,474"
17,18,West Hollywood,"18,924"
18,19,Central-Alameda,"18,760"
19,20,Vermont-Slauson,"18,577"
20,21,Vermont Knolls,"18,057"
21,22,Panorama City,"18,028"
22,23,Vermont Square,"17,798"
23,24,Bell Gardens,"17,762"
24,25,Larchmont,"17,747"
25,26,Pico-Robertson,"17,468"
26,27,Watts,"17,346"
27,28,Westmont,"17,066"
28,29,Echo Park,"16,868"
29,30,East Los Angeles,"16,863"
...,...,...,...
235,236,Rolling Hills,893
236,237,Palmdale,874
237,238,North Whittier,797
238,239,Littlerock,766
239,240,Veterans Administration,683
240,241,Bradbury,658
241,242,Malibu,629
242,243,Northwest Palmdale,540
243,244,Topanga,386
244,245,Green Valley,290
245,246,Elizabeth Lake,219
246,247,Lopez/Kagel Canyons,195
247,248,Acton,166
248,249,Irwindale,154
249,250,Hasley Canyon,136
250,251,Unincorporated Santa Monica Mountains,100
251,252,Agua Dulce,99
252,253,Leona Valley,90
253,254,Industry,82
254,255,Lake Hughes,61
255,256,Unincorporated Santa Susana Mountains,58
256,257,Castaic Canyons,40
257,258,Southeast Antelope Valley,27
258,259,Vernon,18
259,260,Northwest Antelope Valley,16
260,261,Tujunga Canyons,11
261,262,Northeast Antelope Valley,10
262,263,Ridge Route,7
263,264,Angeles Crest,3
264,265,Unincorporated Catalina Island,2

In [31]:
final_location_table1 = pd.merge(LA_Times, LA_Times_diversity, on="LA Neighborhood", how="left")

In [32]:
final_location_table = pd.merge(final_location_table1, LA_Times_popdensity, on="LA Neighborhood", how="left")

In [33]:
final_location_table = final_location_table.set_index("LA Neighborhood")
final_location_table.head()

,Median Rank,Median Income,Diversity Rank,Diversity Index,Population Density Rank,Population Per Sq Mile
LA Neighborhood,,,,,,
Bel-Air,1,"$207,938",228,0.301,225,"1,207"
Hidden Hills,2,"$203,199",251,0.207,229,"1,100"
Rolling Hills,3,"$184,777",193,0.396,236,893
Beverly Crest,4,"$169,282",245,0.230,223,"1,318"
Pacific Palisades,5,"$168,008",250,0.210,230,"1,048"

In [37]:
final_location_table.to_csv(path_or_buf="LA_Locations_scrape.csv", sep=',')

In [38]:
#CSV to JSON Conversion
csvfile = open('LA_Locations_scrape.csv', 'r')
reader = csv.DictReader( csvfile )
mongo_client=MongoClient() 
db=mongo_client.BankData
db.neighborhoodData.drop()
header= [ "LA Neighborhood", "Median Rank", "Median Income", "Diversity Rank", "Diversity Index", "Population Density Rank", "Population Per Sq Mile"]

for each in reader:
    row={}
    for field in header:
        row[field]=each[field]

    db.neighborhoodData.insert(row)

C:\Users\Tom.LAPTOP-UESBC4IO\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.